
// TYPOGRAPHY
$PTmono-font: "PT Mono", monospace;
$Roboto-font: "Roboto", sans-serif;

// FONT SIZE
$font-size-nav: 1.35vw;

// FONT WEIGHT 
$PTmono-font-weight: 400;
$Roboto-font-weight:300;
// COLOR 
$font-color:#000000;
$graycolor-nav:#989797;

// BACKGROUND COLOR
$secondary-bgcolor: #4CA866;
$bgcolor-flame: #E4572E;
$bgcolor-yellow: #eacb31;
$bgcolor-blue: #3C91E6;

// HOVER COLOR
$hover-black:#000000;
$hover-secondary-btn:#9DCFAB;






